{
  "openapi": "3.1.0",
  "info": {
    "title": "api",
    "description": "API 명세서",
    "version": "v1.0.0"
  },
  "servers": [
    {
      "url": "https://junhugaeapi.goorm.training/",
      "description": "https 서버입니다."
    },
    {
      "url": "http://junhugaeapi.goorm.training/",
      "description": "http 서버입니다."
    },
    {
      "url": "http://localhost:8080",
      "description": "kopis local 서버입니다."
    }
  ],
  "tags": [
    {
      "name": "Experience",
      "description": "체험 API"
    },
    {
      "name": "User",
      "description": "회원 API"
    },
    {
      "name": "Job",
      "description": "직업 API"
    },
    {
      "name": "CategoryIntro",
      "description": "카테고리 소개 API"
    }
  ],
  "paths": {
    "/users/sign-up": {
      "post": {
        "tags": ["User"],
        "summary": "회원가입",
        "description": "회원가입 후 세션에 로그인 정보를 저장합니다.",
        "operationId": "signUp",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SignUpRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseObject"
                }
              }
            }
          }
        }
      }
    },
    "/users/sign-in": {
      "post": {
        "tags": ["User"],
        "summary": "로그인",
        "description": "휴대폰 번호와 비밀번호로 로그인 후 세션에 로그인 정보를 저장합니다.",
        "operationId": "signIn",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SignInRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseObject"
                }
              }
            }
          }
        }
      }
    },
    "/users/logout": {
      "post": {
        "tags": ["User"],
        "summary": "로그아웃",
        "description": "세션을 삭제하고 로그아웃합니다.",
        "operationId": "logout",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseObject"
                }
              }
            }
          }
        }
      }
    },
    "/jobs": {
      "get": {
        "tags": ["Job"],
        "summary": "직업 목록 조회",
        "description": "직업 목록을 페이징으로 조회합니다. 모든 필터는 옵션값입니다.",
        "operationId": "getJobs",
        "parameters": [
          {
            "name": "jobType",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "skills",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "workHours",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "physicalLevel",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": ["LOW", "MEDIUM", "HIGH"]
            }
          },
          {
            "name": "startDate",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "endDate",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "pageable",
            "in": "query",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/Pageable"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseObject"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": ["Job"],
        "summary": "직업 저장",
        "description": "직업을 저장합니다. 신규 등록 및 기존 정보 수정에 모두 사용됩니다. 로그인 세션이 필요합니다.",
        "operationId": "saveJob",
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "data": {
                    "$ref": "#/components/schemas/SaveJobRequest"
                  },
                  "photoUrl": {
                    "type": "string",
                    "format": "binary"
                  },
                  "photo2Url": {
                    "type": "string",
                    "format": "binary"
                  },
                  "mainUrl": {
                    "type": "string",
                    "format": "binary"
                  },
                  "mediaUrl": {
                    "type": "string",
                    "format": "binary"
                  },
                  "mediaUrl2": {
                    "type": "string",
                    "format": "binary"
                  }
                },
                "required": ["data"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseObject"
                }
              }
            }
          }
        }
      }
    },
    "/jobs/{jobId}/favorite": {
      "post": {
        "tags": ["Job"],
        "summary": "관심 직업 등록",
        "description": "사용자 ID와 직업 ID로 관심 직업을 등록합니다.",
        "operationId": "addFavorite",
        "parameters": [
          {
            "name": "jobId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "userId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseObject"
                }
              }
            }
          }
        }
      }
    },
    "/experiences": {
      "post": {
        "tags": ["Experience"],
        "summary": "체험 등록",
        "description": "새로운 체험을 등록합니다. 로그인 세션이 필요합니다.",
        "operationId": "createExperienceDetail",
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "data": {
                    "$ref": "#/components/schemas/CreateExperienceDetailRequest"
                  },
                  "photoUrl": {
                    "type": "string",
                    "format": "binary"
                  },
                  "photoUrl2": {
                    "type": "string",
                    "format": "binary"
                  },
                  "mediaUrl": {
                    "type": "string",
                    "format": "binary"
                  },
                  "mediaUrl2": {
                    "type": "string",
                    "format": "binary"
                  }
                },
                "required": ["data"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseObject"
                }
              }
            }
          }
        }
      }
    },
    "/experiences/bookings": {
      "get": {
        "tags": ["Experience"],
        "summary": "예약 내역 조회",
        "description": "로그인한 사용자의 체험 예약 내역을 조회합니다. 로그인 세션이 필요합니다.",
        "operationId": "getMyBookings",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseObject"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": ["Experience"],
        "summary": "체험 예약",
        "description": "체험을 예약합니다. 로그인 세션이 필요합니다.",
        "operationId": "createBooking",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateExperienceBookingRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseObject"
                }
              }
            }
          }
        }
      }
    },
    "/users": {
      "get": {
        "tags": ["User"],
        "summary": "회원 정보 조회",
        "description": "세션에 저장된 로그인 사용자의 이름, 멘토 여부, 소개 글을 조회합니다.",
        "operationId": "getMemberInfo",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseObject"
                }
              }
            }
          }
        }
      }
    },
    "/users/me": {
      "get": {
        "tags": ["User"],
        "summary": "로그인 여부 확인",
        "description": "세션이 존재하면 로그인된 사용자 정보를 반환합니다. 세션이 없으면 로그인되지 않은 상태입니다.",
        "operationId": "me",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseObject"
                }
              }
            }
          }
        }
      }
    },
    "/jobs/{id}": {
      "get": {
        "tags": ["Job"],
        "summary": "직업 상세 조회",
        "description": "ID로 직업 상세 정보를 조회합니다.",
        "operationId": "getJob",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseObject"
                }
              }
            }
          }
        }
      }
    },
    "/experiences/{id}": {
      "get": {
        "tags": ["Experience"],
        "summary": "체험 상세 조회",
        "description": "ID로 체험 상세 정보를 조회합니다.",
        "operationId": "getExperienceDetail",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseObject"
                }
              }
            }
          }
        }
      }
    },
    "/experiences/bookings/completed": {
      "get": {
        "tags": ["Experience"],
        "summary": "완료 내역 조회",
        "description": "로그인한 사용자의 완료된 체험 예약 내역을 조회합니다. 로그인 세션이 필요합니다.",
        "operationId": "getMyCompletedBookings",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseObject"
                }
              }
            }
          }
        }
      }
    },
    "/category-intros": {
      "get": {
        "tags": ["CategoryIntro"],
        "summary": "카테고리 소개 조회",
        "description": "category_type과 category_name으로 소개글을 조회합니다. 로그인 세션의 사용자 정보로 ${name}, ${experience}가 치환됩니다.",
        "operationId": "getCategoryIntro",
        "parameters": [
          {
            "name": "categoryType",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": ["EXPERIENCE", "JOB"]
            }
          },
          {
            "name": "categoryName",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseObject"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "SignUpRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "phone": {
            "type": "string"
          },
          "password": {
            "type": "string"
          },
          "isMentor": {
            "type": "boolean"
          },
          "jobTitle": {
            "type": "string"
          },
          "experience": {
            "type": "integer",
            "format": "int32"
          }
        },
        "required": [
          "experience",
          "isMentor",
          "jobTitle",
          "name",
          "password",
          "phone"
        ]
      },
      "ApiResponseObject": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "data": {
            "type": "object"
          },
          "error": {
            "$ref": "#/components/schemas/ErrorResponse"
          }
        },
        "required": ["success"]
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        },
        "required": ["code", "message"]
      },
      "SignInRequest": {
        "type": "object",
        "properties": {
          "phone": {
            "type": "string"
          },
          "password": {
            "type": "string"
          }
        },
        "required": ["password", "phone"]
      },
      "SaveJobRequest": {
        "type": "object",
        "properties": {
          "title": {
            "type": "string"
          },
          "jobType": {
            "type": "string"
          },
          "skills": {
            "type": "string"
          },
          "workHours": {
            "type": "string"
          },
          "physicalLevel": {
            "type": "string",
            "enum": ["LOW", "MEDIUM", "HIGH"]
          }
        },
        "required": ["jobType", "physicalLevel", "skills", "title", "workHours"]
      },
      "CreateExperienceDetailRequest": {
        "type": "object",
        "properties": {
          "experienceType": {
            "type": "string",
            "enum": ["HAENYEO", "DOLDAM", "GAMGYUL", "MOKJANG"]
          },
          "experienceDate": {
            "type": "string",
            "format": "date"
          },
          "experienceTime": {
            "type": "string",
            "example": "14:30:00"
          },
          "location": {
            "type": "string"
          },
          "maxParticipants": {
            "type": "integer",
            "format": "int32"
          },
          "introduction": {
            "type": "string"
          },
          "schedule": {
            "type": "string"
          },
          "inclusions": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "requirements": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "price": {
            "type": "integer",
            "format": "int64"
          },
          "jobId": {
            "type": "integer",
            "format": "int64"
          }
        },
        "required": [
          "experienceDate",
          "experienceTime",
          "experienceType",
          "introduction",
          "location",
          "maxParticipants",
          "price",
          "schedule"
        ]
      },
      "CreateExperienceBookingRequest": {
        "type": "object",
        "properties": {
          "experienceId": {
            "type": "integer",
            "format": "int64"
          },
          "startDate": {
            "type": "string",
            "format": "date"
          },
          "endDate": {
            "type": "string",
            "format": "date"
          }
        },
        "required": ["endDate", "experienceId", "startDate"]
      },
      "Pageable": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "format": "int32",
            "minimum": 0
          },
          "size": {
            "type": "integer",
            "format": "int32",
            "minimum": 1
          },
          "sort": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      }
    }
  }
}
